@charset "UTF-8";

/* CSS Document */

/*==================================================

container
=================================================*/

html {
	background: #FFF;
}
body {
    position: relative;
    left: 0;
}

/* sp menu setting */

.layer{
    display: none;
    width: 100%;
    height: 100%;
	position: fixed;
    top: 0;
	left: 0;
    background: rgba(0, 0, 0, 0.8);
	z-index: 1002!important;
}
body.open{
	width: 100%;
}

#wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}


/*==================================================

header
=================================================*/

header {
	width: 100%;
	position: fixed;
	min-width: 100%;
	background-color: rgba(255, 255, 255, 1);
	top: 0;
	left: 0;
	z-index: 1003!important;
	
	padding-top: 0;
	
	/* animation */
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#header-inner {
	width: 100%;
	position: relative;
    
    /* animation */
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
    
    padding: 30px 0;
}

.headerbg {
	background-color: rgba(255, 255, 255, 1);
	top: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.headerbg #header-inner {
    padding: 15px 0;
}

/* cf */

#header-inner:after {
    content:" ";
    display:block;
    clear:both;
}

/* header PC */

#header-logo {
	width: 30%;
	max-width: 300px;
	position: absolute;
    
    line-height: 0;
	top: 50%;
	left: 5%;
	-webkit-transform: translate(0, -50%); 
	transform: translate(0, -50%);
	
	/* animation */
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	
	z-index: 5!important;
}
.headerbg #header-logo {
    max-width: 200px;
}

/* header img */

#header-logo img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

/* header SP */

.header-spmenu {
	width: 50px;
	display: block;
	text-align: center;
	cursor: pointer;
	margin: 0 5% 0 auto;
}
.header-spmenu img {
	width: 100%;
	max-width: 100%;
	height: auto;
}


/*==================================================

Navi
=================================================*/

/* header menu */

nav {
    /* モバイルメニュー幅 */
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -100vh;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    padding: 0;
    z-index: 1003!important;
    
    /* animation */
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.open nav {
    top: 0;
}

nav > ul {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    padding: 0;
    overflow: hidden;
    margin: 0 auto;
}
nav > ul > li {
    width: 100%;
    display: block;
    background-image: none;
    border-bottom: 1px solid #666;
}
nav > ul > li > a {
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #CCC;
    padding: 20px 1em;

}
nav > ul > li > a:hover {
    color: #FFF;
    opacity: 1;
}
nav > ul > li > a br {
    display: none;
}

nav > ul > li.sns {
    text-align: center;
    background-color: #FFF;
}
nav > ul > li.sns a {
    width: 30px;
    display: inline-block;
    margin: 0 15px;
    padding: 20px 0;
}

.close-button {
    width: 240px;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 24px;
    color: #FFF;
    text-align: center;
    border: 1px solid #666;
    background-color: #666;
    border-radius: 24px;
    margin: 40px auto 40px;
    padding: 10px 1em;

    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.close-button:hover {
    background-color: #000;
    border: 1px solid #FFF;
}

.pc-only {
	display: block;
}
.sp-only {
	display: none;
}

/*==================================================

scroll button
=================================================*/

.scroll-item {
	width: 40px;
	height: 70px;
	position: absolute;
	left: 50%;
	bottom: 3%;
	-webkit-transform: translate(-50%, 0); 
	transform: translate(-50%, 0);
}
@-webkit-keyframes ani-mouse {
    0% {
    opacity: 1;
    top: 29%;
    }
    15% {
    opacity: 1;
    top: 50%;
    }
    50% {
    opacity: 0;
    top: 50%;
    }
    100% {
    opacity: 0;
    top: 29%;
    }
}
@-moz-keyframes ani-mouse {
    0% {
    opacity: 1;
    top: 29%;
    }
    15% {
    opacity: 1;
    top: 50%;
    }
    50% {
    opacity: 0;
    top: 50%;
    }
    100% {
    opacity: 0;
    top: 29%;
    }
}
@keyframes ani-mouse {
    0% {
    opacity: 1;
    top: 29%;
    }
    15% {
    opacity: 1;
    top: 50%;
    }
    50% {
    opacity: 0;
    top: 50%;
    }
    100% {
    opacity: 0;
    top: 29%;
    }
}
 .scroll-btn {
	display: block;
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, 0); /* Safari用 */
	transform: translate(-50%, 0);
	text-align: center;
}
.scroll-btn > * {
    display: inline-block;
    line-height: 18px;
    font-size: 1rem;
	letter-spacing: 0;
    font-weight: normal;
    color: #999;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
    color: #999;
}
/*
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
*/
.scroll-btn .mouse {
    position: relative;
    display: block;
    width: 20px;
    height: 35px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #999;
    border-radius: 18px;
}
.scroll-btn .mouse > * {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 4px;
    height: 8px;
    margin: -4px 0 0 -2px;
    background: #999;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}

/*==================================================

contents
=================================================*/

.small-font {
	font-size: 55%;
}
.normal-font {
	font-size: 62.5%;
}
.large-font {
	font-size: 70%;
}

.plist {
	width: 100%;
	text-align: left;
	padding: 20px 0;
}
.plist li {
	display: inline-block;
	background-image: url(../images/arrow_r.png);
	background-position: right center;
	background-repeat: no-repeat;
	background-size: auto;
	padding-right: 25px;
}
.plist li:nth-last-of-type(1) {
	background-image: none;
}

#contents {
	width: 100%;
	position: relative;
	margin: 0 auto 80px;
	z-index: 5!important;
}
#contents-about {
	width: 100%;
	position: relative;
	margin: 0 auto 160px;
	z-index: 5!important;
}
#contents-top {
	width: 100%;
	position: relative;
	margin: 0 auto;
	z-index: 5!important;
}
.contents-section {
	margin-top: 80px;
	position: relative;
}
.contents-inner-full {
	width: 90%;
	max-width: 1400px;
	position: relative;
	margin: 0 auto;
}
.contents-inner {
	width: 90%;
	max-width: 1000px;
	position: relative;
	margin: 0 auto;
}
.contents-item {
	width: 95%;
	max-width: 1280px;
	position: relative;
    background-color: #FFF;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
	margin: 0 auto;
    padding: 80px 0;
}
.no-pdb {
    padding-bottom: 0;
}
.contents-item .inner {
    width: 90%;
	max-width: 1000px;
    margin: 0 auto;
}

.contents-grd {
	width: 100%;
    background: linear-gradient(90deg, #19cac3, #7d92d0);
    padding: 80px 0;
}

.fl-box {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	
	margin: 0 auto;
}

.dot-item {
	width: 100%;
	height: 100%;
	position: absolute;
	background: url('../images/dot.png') repeat;
	background-size: auto;
	top: 0;
	left: 0;
	z-index: 1;
}
.anchor-wrap {
	position: relative;
}
.anchor-item {
	width: 1px;
	height: 1px;
	position: absolute;
	top: -100px;
	left: 0;
}


/* cf */
#contents:after,.contents-inner:after {
    content:" ";
    display:block;
    clear:both;
}

/* 印刷時 */

@media print {
	header {
		position: absolute;
	}
}

/*==================================================

button
=================================================*/

/* ボタン */

.button {
	width: 100%;
	max-width: 260px;
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 2rem;
	color: #111585;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	background-color: #FFF;
	border: 4px solid #111585;
    border-radius: 32px;
    margin: 6% auto 0;
	padding: 8px 1em;
}
.button.under {
    cursor: default;
    color: #AAA;
    border-color: #AAA;
    background-color: #CCC;
}
.button.size-l {
    max-width: 400px;
    font-size: 2rem;
    padding: 10px 1em;
}
.button.size-lm {
    max-width: 460px;
    font-size: 2rem;
    margin: 3% auto 0;
    padding: 10px 1em;
}
.button.size-ll {
    max-width: 520px;
    font-size: 2.4rem;
    color: #FFF;
    background-color: #F00;
    margin: 20px auto 0;
    padding: 12px 1em;
}
.button:hover {
	opacity: 1;
    background-color: #EEE;
}
.button.under:hover {
    color: #AAA;
    border-color: #AAA;
    background-color: #CCC;
}
.button.size-ll:hover {
	opacity: 1;
    background-color: #E00;
}
.button:before {
	content:url("../../images/arrow2.png");
	width: 11px;
	height: 12px;
	display: block;
    line-height: 0;
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translate(-20px, -50%); 
	transform: translate(-20px, -50%);
	z-index: 1;
	
	/* animation */
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.button.size-ll:before {
    content:url("../../images/arrow4.png");
}
.button.under:before {
    content: " ";
}
.button:hover:before {
	-webkit-transform: translate(-15px, -50%); 
	transform: translate(-15px, -50%);
}

[class^="button"] {
	
	/* animation */
	
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

/*==================================================

map
=================================================*/

.map {
	width: 100%;
	height: 380px;
	position: relative;
	overflow: hidden;
	margin: 0;
}
.map iframe,
.map object,
.map embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*==================================================

table
=================================================*/

.data-tstyle {
	
}
.data-tstyle th {
	text-align: left;
    vertical-align: top;
	font-weight: 500;
	white-space: nowrap;
}
.data-tstyle td {
    vertical-align: top;
    font-weight: 500;
    text-indent: -1em;
    padding-left: 1em;
}


/*==================================================

footer
=================================================*/

.pagetop {
	width: 150px;
	height: 45px;
	position: fixed;
	right: -150px;
	bottom: 200px;
	z-index: 1001!important;
	
	/* animation */
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.pagetop-visible {
	right: 0;
}
#footer-pagetop {
	width: 100%;
	max-width: 49px;
	text-align: center;
	margin: 5% auto 0;
}
#footer-banner {
	width: 100%;
	max-width: 1200px;
	margin: 80px auto 0;
}
footer {
	width: 100%;
    position: relative;
    color: #FFF;
    text-align: center;
	background-color: #111585;
    z-index: 6!important;
    padding: 50px 5%;
}
footer h2 {
    width: 100%;
    max-width: 640px;
    font-size: 2rem;
    color: #111585;
    text-align: center;
    background-color: #FFF;
    margin: 30px auto;
    padding: .5em 1em;
}
footer p {
    color: #FFF;
    text-align: center;
}
footer a {
    color: #FFF;
    text-decoration: none;
}


/* footer img */

#footer-pagetop img {
	width: 100%;
	max-width: 100%;
	height: auto;	
}



/*==================================================

size m
=================================================*/


@media only screen and (min-width:1px) and (max-width: 768px) {
	
	#wrapper {
		width: 100%;
		min-width: 100%;
	}
	
	/*==================================================
	
	header
	=================================================*/
	
	header {
		width: 100%;
		min-width: 100%;
		position: fixed;
		background-color: rgba(255, 255, 255, 1);
		top: 0;
		
		padding-top: 0;
	}
	#header-inner {
		width: 100%;
		position: relative;
		margin: 0 auto;
        padding: 15px 0;
	}
	#header-option {
		display: none;
	}
    
	#header-logo {
        width: 65%;
        max-width: 200px;
        position: absolute;
        
        text-align: left;
        line-height: 100%;
        border-radius: 0;
        box-shadow: none;
        
        left: 5%;
    }
    #header-logo span {
        display: inline-block;
        margin-left: 10px;
        padding-top: 5px;
    }

    /* header img */

    #header-logo img {
        display: inline-block;
        width: 100%;
        max-width: 200px;
        height: auto;
        vertical-align: middle;
    }
    
    
	.headerbg {
		background-color: rgba(255, 255, 255, 1);
	}
	
	.side-item {
		display: none;
	}
	
	.sp-only {
		display: block;
	}
	.pc-only {
		display: none;
	}
	
	/*==================================================
	
	contents
	==================================================*/
	
	#contents {
		margin: 0 auto 20%;
	}
    #contents-about {
        margin: 0 auto 15%;
    }
	.contents-section-full {
		margin-top: 8%;
	}
	.contents-section {
		margin-top: 8%;
	}
    .contents-item {
        padding: 8% 0;
    }
    .no-pdb {
        padding-bottom: 0;
    }
    .contents-grd {
        padding: 8% 0;
    }
	.anchor-item {
		top: -100px;
	}
    .button {
        max-width: 240px;
        font-size: 1.6rem;
        border: 3px solid #111585;
        padding: 10px 1em;
    }
    .button.size-l {
        max-width: 360px;
        font-size: 1.6rem;
    }
    .button.size-lm {
        font-size: 1.6rem;
    }
    .button.size-ll {
        max-width: 520px;
        font-size: 2rem;
        color: #FFF;
        background-color: #F00;
        margin: 20px auto 0;
        padding: 12px 1em;
    }
    .button.contact-banner {
        font-size: 2rem;
        margin: 10% auto 0;
    }
	
	/*==================================================
	
	map
	==================================================*/
	
	.map {
		width: 100%;
		height: 350px;
		margin: 5% 0 0;
	}
	
	/*==================================================
	
	table
	==================================================*/

	
	/*==================================================
	
	footer
	=================================================*/
	
    .pagetop {
        bottom: 100px;
    }
	.pagetop-visible {
		right: -100px;
	}
    footer {
        width: 100%;
    }
	
}

/*==================================================

size s
==================================================*/

@media only screen and (min-width:1px) and (max-width: 568px) {
	
	
	/*==================================================
	
	header
	==================================================*/

		
	/*==================================================
	
	Navi
	==================================================*/
	
	
	/*==================================================
	
	contents
	==================================================*/
	
	
	/*==================================================
	
	footer
	==================================================*/
	

}

@media only screen and (min-width:1px) and (max-width: 480px) {
	
	
	/*==================================================
	
	header
	==================================================*/

	
	/*==================================================
	
	Navi
	==================================================*/
	
	
	/*==================================================
	
	contents
	==================================================*/
	
	
	/*==================================================
	
	table
	==================================================*/
	
	
	/*==================================================
	
	footer
	==================================================*/
	
	
}